<h1>VirtualScroll</h1>
<hr>
<div class="btn-group">
    <button class="btn btn-sm btn-primary mr-2" (click)="irInicio()">Inicio</button>
    <button class="btn btn-sm btn-secondary mr-2" (click)="irEnMedio()">En medio</button>
    <button class="btn btn-sm btn-warning mr-2" (click)="irFinal()">Final</button>
</div>
<cdk-virtual-scroll-viewport class="list-container lit-group" itemSize="65">
    <div class="list-group-item animated fadeInLeft" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
        Item {{ i }} / {{ conteo }}
    </div>
</cdk-virtual-scroll-viewport>