<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nihil totam ratione facere fugit soluta ut deleniti aut minus voluptatibus, quae fuga consequatur eum amet vel nisi repudiandae. Explicabo, perferendis. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Recusandae sequi at eaque cum quod quo et quia officiis? Iste voluptatibus ducimus voluptatem est consectetur unde, laboriosam labore quos porro eligendi?
</p>