<form [formGroup]="forma" (ngSubmit)="enviarForm()">
    <div formGroupName="nombreCompleto">
        <div class="form-group row" [ngClass]="{'has-danger': forma.get('nombreCompleto.nombre').invalid && !forma.get('nombreCompleto.nombre').untouched }">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.required && !forma.get('nombreCompleto.nombre').untouched">
                    Este campo es obligatorio
                </div>
                <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength && !forma.get('nombreCompleto.nombre').untouched">
                    Por lo menos {{ forma.get('nombreCompleto.nombre').errors.minlength.requiredLength }} caracteres
                </div>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-danger': forma.get('nombreCompleto.apellido').invalid && !forma.get('nombreCompleto.apellido').untouched}">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
                <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.apellido').errors?.required && !forma.get('nombreCompleto.apellido').untouched">
                    Este campo es obligatorio
                </div>
                <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.apellido').errors?.novilla && !forma.get('nombreCompleto.apellido').untouched">
                    No Villa (Validador personalizado)
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': forma.controls.correo.invalid && !forma.controls.correo.untouched}">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo">
            <div class="form-control-feedback" *ngIf="forma.controls.correo.errors?.required && forma.controls.correo.touched">
                Este campo es obligatorio
            </div>
            <div class="form-control-feedback" *ngIf="forma.controls.correo.errors?.pattern && forma.controls.correo.touched">
                Esta no es una dirección de correo válida
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': forma.controls.password1.invalid && !forma.controls.password1.untouched}">
        <label class="col-2 col-form-label">Contraseña</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Contraseña" formControlName="password1">
            <div class="form-control-feedback" *ngIf="forma.controls.password1.errors?.required && forma.controls.password1.touched">
                Este campo es obligatorio
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': forma.controls.password2.invalid && !forma.controls.password2.untouched}">
        <label class="col-2 col-form-label">Repetir</label>
        <div class="col-md-8">
            <input class="form-control" type="password" placeholder="Repetir contraseña" formControlName="password2">
            <div class="form-control-feedback" *ngIf="forma.controls.password2.errors?.required && forma.controls.password2.touched">
                Este campo es obligatorio
            </div>
            <div class="form-control-feedback" *ngIf="forma.controls.password2.errors?.mismatch && forma.controls.password2.touched">
                Las contraseñas no coinciden
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (forma.controls['apodo'].errors?.required || forma.controls['apodo'].errors?.existe) && forma.controls['apodo'].touched}">
        <label class="col-2 col-form-label">Apodo</label>
        <div class="col-md-8">
            <input class="form-control" type="text" formControlName="apodo" placeholder="Nickname">
            <div class="form-control-feedback" *ngIf="forma.controls['apodo'].errors?.required && forma.controls['apodo'].touched">
                Este campo es obligatorio
            </div>
            <div class="form-control-feedback" *ngIf="forma.controls['apodo'].errors?.existe && forma.controls['apodo'].touched">
                Este nombre de usuario ya existe
            </div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': forma.controls['pasatiempos'].invalid && forma.controls['pasatiempos'].touched}">
        <label class="col-2 col-form-label">Hobbies</label>
        <div class="col-md-8" formArrayName="pasatiempos">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <input [formControlName]="i" class="form-control" type="text" placeholder="Pasatiempo" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index">
                    </div>
                    <div class="col-md-4">
                        <button (click)="removeHobbie(i)" *ngFor="let hobbie of forma.controls['pasatiempos'].controls; let i = index" class="form-control btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-primary" (click)="addHobbie()">Nuevo</button>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">Guardar</button>
        </div>
    </div>
</form>

<div>
    {{ forma.valid }}
    <br> {{ forma.status }}
</div>